body{
    background-color: rgb(176, 227, 224);
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#introtext{color: rgb(249, 37, 13);}

.highlight{color: blue;
font-weight: bolder;}

#introcontainer{width: 600px;float: left;}

#intropic{float: left;}

.reset{clear: both;}

#hobycontainer{width: 25opx; float: left;}

#serch{float: right;}

#Body1{width: 850px;
margin: 0px auto;}